@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    background-color: #EDF8F5;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

main{
    min-height: 400px;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

a{
    text-decoration: none;
    color: #1D292E;
}

button{
    font-size: 17px;
    font-family: 'Inter', 'Sans-serif';
    border: none;
    border-radius: 5px;
}

.navbar-wrapper{
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding: 2em;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar-links{
    /* background-color: cadetblue; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.banner{
   display: flex;
   /* background-color: burlywood; */
   justify-content: space-between;
}

.banner-heading{
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
}
.banner-heading h1{
    font-size: 60px;
    color: #2B3940;
    width: 80%;
    text-align: center;
}
.banner-heading p{
    width: 80%;
    text-align: center;
}

.search-form{
    display: flex;
    /* background-color: chocolate; */
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3em;
    background-color: white;
}

.input-wrapper{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input-wrapper input{
    padding: 1em;
    margin-left: 1.2em;
    border: none;
    font-size: 15px;
    outline: none;
    width: 300px;
}

/* .input-wrapper input:focus{
    outline: none !important;
    border:1px solid #008A5B;
} */

.search-form-btn{
    background-color: #008A5B;
    color: white;
    padding: 1em 2em;
    font-size: 15px;
}

.search-form-icons{
    color: #008A5B;
}

button:hover{
    cursor: pointer;
}

.category_wrapper{
    display: flex;
    /* background-color: chocolate; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 3em 0;
    color: #2B3940;
}

.category-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-heading h1{
    font-size: 40px;
}

.category-card{
    /* background-color:burlywood; */
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    background-color: white;
    transition: all .2s ease-in-out;
}

.category-card:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category-card h2{
    font-size: 20px;
}

.category-icon-wrapper{
    height: 80px;
    width: 80px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.category-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

#cat1{
    background-color: #4743DB;
}

#cat2{
    background-color: #65EFE3;
}

#cat3{
    background-color: #FA8557;
}

#cat4{
    background-color: #F71E3F;
}

#cat5{
    background-color: #FA5F1C;
}

#cat6{
    background-color: #00B074;
}

.job-section-outer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.job-section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #2B3940;
    padding: 2em 0;
}

.job-section-wrapper h1{
    text-align: center;
    font-size: 30px;
}

.job-section-btn{
    margin: 0 auto;
}

.job-section-btn button{
    width: 200px;
    height: 70px;
    background-color: white;
    color: #2B3940;
    font-size: 16px;
    border: 1px solid #2B3940;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.job-section-btn button:hover{
    color: white;
    background-color: #00B074;
}

.job-card-wrapper{
    display: flex;
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 5px;
    height: 200px;
}

.job-card-outer{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-evenly;
    align-items: flex;
    margin-left: 2em;
}

.job-card-inner{
    display: flex;
    /* flex-direction: row; */
    /* background-color: burlywood; */
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.job-card-inner-info{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.job-card-inner-info h4{
    font-size: 20px;
}

.job-card-inner-info h6{
    font-size: 15px;
    font-weight: 400;
}

.job-card-tags-wrapper{
    display: flex;
    /* background-color: #00B074; */
    justify-content: flex-start;
    gap: 20px;
}

.job-card-tags{
    background-color: #F3F9FC;
    padding: 0.75em;
    font-size: 15px;
    font-weight: 400;
}

.job-card-det{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.loc-det{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 2em;
}

.job-card-salary{
    font-size: 25px;
}



/* .job-card-inner-info h4{
    font-size: 20px;
} */

.job-card-heading{
    width: 50%;
    margin: 2em auto;
    text-align: center;
}

.job-card-heading h1{
    font-size: 40px;
}

.job-posting-wrapper{
    display: flex;
}

.job-posting-img-wrapper{
    width: 50%;
}

.job-posting-outer{
    width: 50%;
    background-color: #00B074;
    display: flex;
    justify-content: center;
    align-items:center;
}

.job-posting-inner{
    /* background-color: #EDF8F5; */
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.job-posting-inner h1{
    font-size: 40px;
    text-align: center;
}

.job-posting-inner p{
    text-align: center;
    font-size: 18px;
}

.job-posting-inner button{
    height: 70px;
    width: 150px;
    font-family: "Inter", sans-serif;
    background-color: white;
    color: #2B3940;
    font-size: 16px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.job-posting-inner button:hover{
    background-color: #ECECEC;
}

.job-posting-img-wrapper img{
    height: 100%;
    width: 100%;
}

.footer-wrapper{
    background-color: #1D292E;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.footer{
    display: flex;
    justify-content: space-evenly;
    margin: 4em 0 2em 0;
    
}

.copyright-text{
    text-align: center;
    margin-bottom: 2em;
}

.footer-contact{
    /* background-color: #FA8557; */
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 150px;
    justify-content: space-evenly;
}

.footer-contact-inner{
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-start;
    gap: 20px;
    height: 30%;
}

.footer-contact-text{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}

.footer-contact-text h5{
    font-size: 18px;
    font-weight: 500;
}

.footer-contact-text h6{
    font-size: 16px;
    font-weight: 400;
    color:#00B074;
}

.footer-contact-inner-img-container img{
    width: 100%;
    height: 100%;
}

.footer-social-links{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    height: 30%;
    align-items: center;
}

.footer-social-links h6{
    font-size: 15px;
}

.footer-heading{
    /* background-color: #FA8557; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-heading h1{
    font-size: 40px;
}

.footer-heading h4{
    font-weight: 400;
    color:#00B074;
}

.form-wrapper{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 30%;
    margin: 2em auto;
    align-items: center;
    padding: 2em;
    border-radius: 5px;
}
.form-wrapper h1{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 15px;
}

.form input {
    padding: 1em;
    font-size: 15px;
    width: 300px;
}


.form button{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    background-color: #00B074;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-in;
}

.highlight-text{
    color: #00B074;
}

.job-page-main{
    background-color: white;
    width: 50%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 2em 0;
    border-radius: 5px;
    gap: 20px;
}

.job-page-det-heading-wrapper{
    display: flex;
    /* background-color: #FA8557; */
    gap: 20px;
    width: 55%;
    margin: 3em auto;
    justify-content: space-evenly;
}

.job-page-det{
    /* background-color: #FA8557; */
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.job-page-det-info{
    background-color: #F3F4F6;
    /* background-color: #FA8557; */
    width: 50%;
    margin: 0 0 0 3em;
    display: flex;
    flex-direction: column;
}

.job-page-det-info-el{
    /* background-color: aqua; */
    padding: 1em;
}

.job-apply-btn{
    margin: 0 auto;
}

.job-apply-btn button{
    height: 50px;
    width: 120px;
    background-color: #00B074;
    color: white;
}

.job-listing-det-info-wrapper{
    display: flex;
    justify-content: space-between;
}

.job-listing-update-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 2em;
}

#edit-listing-btn{
    height: 50px;
    width: 120px;
    font-size: 17px;
    background-color: #3B82F6;
    color: white;
}

#delete-listing-btn{
    height: 60px;
    width: 120px;
    background-color: #DC2626;
    color: white;
    
}

.form-err{
    padding: 0;
    margin: 0;
    color: #FF5733;
    font-size: 14px;
}

.flash-message-container p{
    background-color: #00B074;
    width: 200px;
    margin: 2em auto 2em auto;
    text-align: center;
    padding: 0.75em;
    border-radius: 3px;
}

.pagination-wrapper{
    /* background-color: #FA5F1C; */
    width: 400px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .navbar-wrapper{
        display: flex;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    .navbar-links{
        width: 50%;
    }
    
    .banner-heading{
        background-image: url('images/background.png');
        padding: 3em;
    }

    .banner-image {
        display: none;

    }
    .job-card-wrapper{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        justify-content: space-evenly;
        border-radius: 5px;
        height: 300px;
    }
    .loc-det{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 2em;
        align-items: baseline;
        height: 120px;
    }
    .job-card-inner{
        
        width: 300px;
    }
    .job-card-tags-wrapper{
        display: flex;
        /* background-color: #00B074; */
        justify-content: flex-start;
        gap: 20px;
        width: 350px;
        align-items: center;
        margin-top: 1em;
    }
    
    .job-card-tags{
        background-color: #F3F9FC;
        padding: 0.75em;
        font-size: 15px;
        font-weight: 400;
    }
    .job-card-det{
        /* background-color: #FA8557; */
        width: 100%;
        justify-content: space-between
    }
    .job-posting-wrapper{
        display: flex;
        flex-direction: column;
    }
    .job-posting-img-wrapper{
        width: 100%;
    }
    
    .job-posting-outer{
        width: 100%;
        padding: 2em 0;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    .footer-contact{
        /* background-color: #FA8557; */
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 150px;
        justify-content: space-evenly;
        align-items: center;
    }
    .category_wrapper{
        padding: 3em 0 1em 0;
    }
    .form-wrapper{
        width: 80%;
        padding: none;
    }
    .form{
        padding: none;
    }
    .form input {
        padding: none;
        font-size: 15px;
        width: 250px;
    }
    .job-page-main{
        width: 90%;
    }
    .job-page-det-heading-wrapper{
        display: flex;
        gap: 20px;
        width: 60%;
        margin: 3em auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .job-listing-det-info-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .job-page-det-info{
        background-color: #F3F4F6;
        /* background-color: #FA8557; */
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .job-listing-update-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .search-form{
        flex-direction: column;
        width: 85%;
    }
    .input-wrapper input{
        padding: 0;
        margin-left: 2em;
        width: 270px;
    }
}